body {
    margin: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #3A2D34;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: #221932;
}

span {
    color: #060407;
}

h2 {
    text-transform: uppercase;
    color: #060407;
}

h3 {
    text-transform: uppercase;
    color: #060407;
}

.simple-container {
    height: 80vh;
    width: 70vw;
    background-color: #9882B9;
    border-radius: 10px;
}

.nav-bar {
    background-color: #775E88;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15vh;
    justify-content: center;
    border-radius: 10px 10px 0 0;
}

.site-title {
    margin-top: 0;
    margin-bottom: 10px;
}

.container-links a { 
    padding: 0 5px;
}

.site-content {
    height: calc(65vh - 30px);
    width: calc(70vw - 40px);
    position: absolute;
    overflow-y: auto;
    background-color: #9882B9;
    padding: 20px 20px 0 20px;
    border-radius: 0 0 10px 10px;
}

/* Data */

.data {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid aqua;
    margin-bottom: 20px;
}

.data .title {
    height: 20px;
    width: calc(100% - 40px);
    margin: 0;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    background-color: aqua;
    text-transform: uppercase;
    color: #060407;
}

.data .content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Contacts */

.content.message-form {
    display: flex;
    padding: 10px;
    align-items: center;
}

.content .message-form-container {
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.content.message-form .form-elements {
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
}

/* Projects */

.projects-grid {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-content: center;
    margin: 0 -10px;
}

.project-container {
    border-radius: 10px;
    background-color: #BEAEDB;
    padding: 20px;
    margin: 0 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-container h3 {
    margin: 0;
}

.project-container .content-image {
    width: 100%;
    height: 25vh;
    border-radius: 10px;
    background: #BEAEDB;
    margin: 10px 0;
}

.project-container .content-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.project-container .content-text {
    text-align: justify;
}

.project-container .content-text .go-to-tcc {
    background-color: #75619D;
    border-radius: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
    text-align: center;
}

.project-container .content-text .go-to-tcc a {
    text-decoration: none;
    color: black;
}


/* Tags */

.container-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.tag {
    border-radius: 15px;
    padding: 1px 10px;
    margin: 5px 5px 0 5px;
    font-size: 13px;
}

.tag-html {
    background-color: #E34C26;
}

.tag-css {
    background-color: #663399;
}

.tag-js {
    background-color: #F1E05A;
}

.tag-php {
    background-color: #4F5D95;
}

.tag-vue {
    background-color: #41B883;
}

.tag-react {
    background-color: #61DBFB;
}

.tag-firebase {
    background-color: #F5820D;
}

/* Colors */

.data.general-data {
    border-color: #BEAEDB;
}

.data.general-data .title {
    background-color: #BEAEDB;
}

.data.second-info {
    border-color: #75619D;
}

.data.second-info .title {
    background-color: #75619D;
}
